<h1>Coach Answer</h1>

<div class="text1">
  <%= @query %>
</div>

<div class="author">
      _You
</div>

<div class ="text1">
 <%= @answer %>
</div>

<div class ="author">
_ Your coach
</div>

<%= link_to 'Ask a new question', ask_path %>