<h1>Ask your Coach</h1>

<form action="/answer" method="get">
  <input type="text" name="query">
  <input class="btn btn-success" type="submit">
</form>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input class="btn btn-danger" type="submit" value="Go on!">
</form>